*.o
*.png
*.dat
*.wsc
*.cfg
*.map
*.opk
*.wsc
./oswan
/opk/oswan
sdl/*.o
emu/*.o
emu/cpu/*.o
DC/
roms/
roms/*.wsc
snapshot/
oswan-nspire/
SDL2_branch/
./sdl/data/fireworks/
fork/
oswan_svn/
opk/
screenshots/