*.o
*.png
*.dat
*.wsc
*.cfg
*.map
*.wsc
*.out
./oswan
/opk/oswan
main/sdl/*.o
minizip/*.o
main/emu/*.o
main/fast/*.o
main/pandora/*.o
main/psp/*.o
main/emu/cpu/*.o
main/emu/cpu_oswanj/*.o
main/sdl/gfx/*.o
DC/
roms/
roms/*.wsc
roms/*.wsc.tns
roms/*.bmp
snapshot/
oswan-nspire/
SDL2_branch/
./sdl/data/fireworks/
fork/
oswan_svn/
opk/
screenshots/

